.footer{
    background-color: var(--bg-color);
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.footer svg{
    width: 30px;
    color: var(--font-color);
    cursor: pointer;
}