.header {
  background-color: var(--bg-color);
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav {
  display: flex;
  column-gap: 20px;
}

.header__nav > a {
  color: var(--font-color);
  font-weight: 700;
  position: relative;
  font-size: 1.3rem;
  transition: 0.3s ease;
}

.header__nav > a:hover{
    transform: scale(1.1);
}


