.home{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    row-gap: 35px;
}

.home__title{
    text-align: center;
    color: var(--font-color);
    font-size: 2.5rem;
}

.home__links{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.home__links__button{
    width: 150px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-weight: 700;
    transition: 0.3s ease;
    font-size: 1.3rem;
}

.home__links__button:hover{
    background-color: var(--font-color);
    color: var(--bg-color);
}
